.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  margin-bottom: 40px;
  padding: 25px;
  border: 1px solid var(--black);
  border-radius: 4px;
}

.field {
  display: flex;
  flex-direction: column;

  span {
    margin-top: 3px;
    font-size: 14px;
    color: var(--red);
  }
}

.btn {
  margin-top: 15px;
  padding: 10px 15px;
}
